/*
	========
	Eric Meyer's CSS Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
	========
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	========
	Grid
	========
*/

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

/*
	========
	Clearfix
	========
*/
.group:before, .group:after{
	content: "";
	display: table;
}
.group:before{
	clear: both;
}
.group:after{
	clear: both;
	*zoom: 1;
}

/*
	========
	General
	========
*/
header{
	background-color: #5BEBCA;
	/*position: fixed;*/
	top: 0px;
	width: 100%;
	height: 80px;
	z-index: 1;
}
.offset{		/*not very necessary anymore*/
	position: relative;
	top: 80px;
}
footer{
	background-color: #5BEBCA;
	position: relative;
	top: 80px;
	clear: both;
	width: 100%;
	height: 120px;
	padding: 5px;
}
.primary-footer small{
	float: left;
}
.primary-footer{
	padding-top: 44px;
	padding-bottom: 44px;
}
p{
	font-family: serif;
	font-size: 12pt;
	color: #000000;
	display: inline-block;
}
hr{
	background-color: #FFF;
	border: 0;
	height: 1.5px;
}

.container,
.grid{
	margin: 0 0;
	width: 1200px;
}
.container{
	padding: 0px 88px;
}

.content{
	margin: 0;
	padding: 10px;
	border: 1px solid #000;
}

.column-half{
	float: left;
	width: 50%;
	padding: 10px;
}
.column-third{
	padding: 10px 15px;
}
.img-opening{
	float: left;
	position: relative;
}
.intro{
	margin: 0 0;
	padding: 0 0;
	height: 900px;
	height: calc(100vh - 80px);
	display: block;
}
.intro-description{
	margin-left: 50%;
	padding-top: calc(100vh/4);
	
}


/*
	========
	Pictures
	========
*/
.backing{
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	height: 100%;
	height: calc(100vh - 80px);
	position: absolute;
	z-index: -1;
}


/*
	========
	Portfolio Pages
	========
*/

.entry{
	display: inline-block;
	vertical-align: top;
	width: 32.81%;
	
}
img .entry: hover{
}
.description{
	background-color: #5BEBCA;
	height: 80px;
	padding: 15px;
	width: 100%;
}
/*
	========
	Buttons
	========
*/
.btn{
	border: 1px solid #000;
	padding: 2px 0px;
	display: inline-block;
	margin: 0px;
}
.btn:hover{
	background-color: #7CEFD5;
}
.btn-home{
	padding: 12px 0px;
	float: left;
}
.btn-home:hover{
	background-color: transparent;
	color: inherit;
}
.btn-nav{
	height: 50px;
	padding: 15px 20px;
}
/*
	========
	Typography
	========
*/
@font-face{ /* http://fontfabric.com/nexa-free-font/ */
	font-family: "Nexa";
	src: local("Nexa"), url("nexa_bold.otf") format("otf");
	font-weight: bold;
	
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
	font-family: "Nexa", "Arial", sans-serif;
	font-weight: bold;
}
h1{
	font-size: 80pt;
	margin: 10px 10px;
}
h2{
	font-size: 18pt;
	margin: 25px 30px;
	margin-top: 25px;
}
h3{
	font-size: 16pt;
}
h4{
	font-size: 14pt;
}
p{
	font-family: "Times", serif;
	font-weight: 300;
	font-size: 14pt;
	line-height: 125%;
}
a:link{
	text-decoration: none;
	color: #10C2D2;
	display: inline-block;
	/*take away underline*/
}
a:hover{
	color: #FF7B29;
}