/*
    ========
    Typography
    ========
*/

@font-face {
    font-family: Gidole;
    src: url(Gidole-Regular.ttf);
}

h1, h1-2, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    font-family: "Gidole", "Arial", sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 50pt;
    margin: 10px 0px;
}
h1-2 {
    display: block;
    font-size: 60pt;
    margin: 10px 0px;
}
h3 {
    font-size: 20pt;
    margin: 20px 0px 10px 0px;
}
h6 {
    font-size:11pt;
    color: #000;
}
p {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serifs;
    font-weight: 300;
    font-size: 12pt;
    line-height: 125%;
}
a {
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
a:link {
    text-decoration: none;
    color: #10C2D2;
    display: inline-block;
    /*take away underline*/
}
a:visited{
    color: #10C2D2;
}
a:hover {
    color: #FF7B29;
}
strong {
    font-weight: 600;
}
em {
    font-style: italic;
}
small {
    font-size: 10pt;
}
.sub {
    margin-top: -15px;
    margin-bottom: 10px;
    display: block;
    text-align: right;
}
.info {
    margin: 50px 0 20px 0;
}
.title {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serifs;
}
